@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --font-sans: 'Manrope', sans-serif;
    --font-serif: 'Courier Prime', Courier, monospace;
}

body {
    font-family: var(--font-sans);
}
.blur-heading {
    text-shadow:
        0 0 4px rgba(0,0,0,0.35),
        0 0 10px rgba(0,0,0,0.25),
        0 0 18px rgba(0,0,0,0.20);
}

.font-courier {
    font-family: 'Courier Prime', Courier, monospace;
}

.hover-card::after {
    content: "";
    position: absolute;
    inset: 0;
    background-color: #ff9a4a40; /* oranžová s 25% průhledností */
    opacity: 0;
    transition: opacity 0.3s ease-out;
    pointer-events: none;
}

.hover-card:hover::after {
    opacity: 1;
}