@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --font-sans: 'Manrope', sans-serif;
    --font-serif: 'Courier Prime', Courier, monospace;
}

body {
    font-family: var(--font-sans);
}
.blur-heading {
    text-shadow:
        0 0 4px rgba(0,0,0,0.35),
        0 0 10px rgba(0,0,0,0.25),
        0 0 18px rgba(0,0,0,0.20);
}

.font-courier {
    font-family: 'Courier Prime', Courier, monospace;
}

.hover-card::after {
    content: "";
    position: absolute;
    inset: 0;
    background-color: #ff9a4a40; /* oranžová s 25% průhledností */
    opacity: 0;
    transition: opacity 0.3s ease-out;
    pointer-events: none;
}

.hover-card:hover::after {
    opacity: 1;
}
html {
  scrollbar-gutter: stable;
}

.hero {
  position: relative;
  height: 60vh;
  width: 100vw;
}

.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to bottom,
    rgba(0,0,0,0.25),   /* nahoře tmavší */
    rgba(0,0,0,0)       /* dolů čiré */
  );
  pointer-events: none;
  z-index: 2;
}

.hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.95) contrast(0.95) saturate(0.9);
}

.kaz {
    background: linear-gradient(
        to right,
        rgba(230,100,20,0.18),
        rgba(255,200,60,0.20),
        rgba(120,160,60,0.18),
    );
    mix-blend-mode:overlay;
}