@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --font-sans: 'Manrope', sans-serif;
    --font-serif: 'Courier Prime', Courier, monospace;
}

body {
    font-family: var(--font-sans);
}
.blur-heading {
    text-shadow:
        0 0 4px rgba(0,0,0,0.35),
        0 0 10px rgba(0,0,0,0.25),
        0 0 18px rgba(0,0,0,0.20);
}

.font-courier {
    font-family: 'Courier Prime', Courier, monospace;
}